In [ ]:
''' This '''

In [ ]:

import warnings
warnings.filterwarnings('ignore')

pd.set_option("display.max_columns", 300)
pd.set_option("display.max_rows", 300)

# Until fuction: line seperator
def print_dashes_and_ln():
    print('-'*100, '\n')
    
# Formatter to display all float format in 2 decimal format
pd.options.display.float_format = '{:.2f}'.format

In [ ]:
# Get column names
column_names = df.columns
print(column_names)

# Also check if the column is unique
for i in column_names:
  print('{} is unique: {}'.format(i, df[i].is_unique))

'''The inplace=True has been added so you don’t need to save over the original df by assigning the result of .drop() to df. 
Many of the methods in pandas support inplace=True, so try to use it as much as possible to avoid unnecessary reassignment.'''
# Drop unwanted columns
df.drop(columns_to_drop, inplace=True, axis=1)


# Fill NaN with the mean of the column
df['col'] = df['col'].fillna(df['col'].mean())

# Drop any rows which have any nans
df.dropna()
# Drop columns that have any nans
df.dropna(axis=1)
# Only drop columns which have at least 90% non-NaNs
df.dropna(thresh=int(df.shape[0] * .9), axis=1)

# Follow this syntax
np.where(if_this_condition_is_true, do_this, else_this)
# Example
df['new_column'] = np.where(df[i] > 10, 'foo', 'bar)

In [ ]:
import pandas as pd
import numpy
import dedupe
import os
import csv
import re
from unidecode import unidecode
def preProcess(column):
    '''
    Used to prevent errors during the dedupe process.
    '''
    try : 
        column = column.decode('utf8')
    except AttributeError:
        pass
    column = unidecode(column)
    column = re.sub('  +', ' ', column)
    column = re.sub('\n', ' ', column)
    column = column.strip().strip('"').strip("'").lower().strip()
    
    if not column:
        column = None
    return column


def readData(filename):
    
    data_d = {}
    with open(filename) as f:
        reader = csv.DictReader(f)
        for row in reader:
            clean_row = [(k, preProcess(v)) for (k, v) in row.items()]
            row_id = int(row['Id'])
            data_d[row_id] = dict(clean_row)
return df
name_of_file = 'data.csv'
print('Cleaning and importing data ... ')
df = readData(name_of_file)

In [ ]:
df[df.duplicated(['ID'], keep=False)]

it'll return all duplicated rows back to you.

keep : {‘first’, ‘last’, False}, default ‘first’

first : Mark duplicates as True except for the first occurrence.
last : Mark duplicates as True except for the last occurrence.
False : Mark all duplicates as True.

In [ ]:
extr = df['Date of Publication'].str.extract(r'^(\d{4})', expand=False)

In [ ]:
df['Date of Publication'].isnull().sum() / len(df)

In [ ]:
df['Place of Publication'] = np.where(london, 'London',
                                      np.where(oxford, 'Oxford',
                                               pub.str.replace('-', ' ')))

In [ ]:

Group of column to clean data or drop by using standard drop functionality
preview[19:38]
loans_2007 = loans_2007.drop('pymnt_plan', axis=1)

In [ ]:
Remove Columns with only One Value
loans_2007 = loans_2007.loc[:,loans_2007.apply(pd.Series.nunique) != 1]


Multiple check
for col in loans_2007.columns:
    if (len(loans_2007[col].unique()) < 4):
    print(loans_2007[col].value_counts())
    print()

In [ ]:
First, use the Pandas DataFrame method isnull() to return a DataFrame containing Boolean values:
True if the original value is null
False if the original value isn’t null
Then, use the Pandas DataFrame method sum() to calculate the number of null values in each column.



null_counts = filtered_loans.isnull().sum()
print("Number of null values in each column:\n{}".format(null_counts))

In [ ]:
Investigate Categorical Columns
print("Data types and their frequency\n{}".format(filtered_loans.dtypes.value_counts()))

In [ ]:

Use the str.rstrip() string method to strip the right trailing percent sign (%).
On the resulting Series object, use the astype() method to convert to the type float.
Assign the new Series of float values back to the revol_util column in the filtered_loans.

filtered_loans['revol_util'] = filtered_loans['revol_util'].str.rstrip('%').astype('float')

In [ ]:

Convert Categorical Columns to Numeric Features


mapping_dict = {
"emp_length": {
"10+ years": 10,
"9 years": 9,
"8 years": 8,
"7 years": 7,
"6 years": 6,
"5 years": 5,
"4 years": 4,
"3 years": 3,
"2 years": 2,
"1 year": 1,
"< 1 year": 0,
"n/a": 0
},
"grade":{
"A": 1,
"B": 2,
"C": 3,
"D": 4,
"E": 5,
"F": 6,
"G": 7
}
}
filtered_loans = filtered_loans.replace(mapping_dict)
filtered_loans[['emp_length','grade']].head()

In [ ]:
df1 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3], "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df2 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2005, 2006,2007,2008])
 
merged= pd.merge(df1,df2,on ="HPI")
 
print(merged)


df1 = pd.DataFrame({"Int_Rate":[2,1,2,3], "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df2 = pd.DataFrame({"Low_Tier_HPI":[50,45,67,34],"Unemployment":[1,3,5,6]}, index=[2001, 2003,2004,2004])
 
joined= df1.join(df2)
print(joined)


df1 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3], "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df2 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2005, 2006,2007,2008])
 
concat= pd.concat([df1,df2])
 
print(concat)